<!--The content below is only a placeholder and can be replaced.-->
<ngx-spinner
  bdOpacity = 0.9
  bdColor = "rgba(0,0,0,0)"
  size = "medium"
  color = "#94928a"
  type = "pacman"
  [fullScreen] = "false">
  <p style="color: #94928a" > Carregando ... </p>
</ngx-spinner>
<div>
 <table>
   <tr>
     <th>Título</th>
     <th>Comentário</th>
     <th>Gênero</th>
   </tr>
   <tr *ngFor="let serie of series">
     <td>
        <a href={{serie.TitleLink}}>{{serie.Title}}</a>
     </td>
     <td>
        {{serie.Abstract}}
     </td>
     <td>
        <a href={{serie.Genre}}>{{serie.Genre}}</a>
     </td>
   </tr>
 </table>
</div>
<router-outlet></router-outlet>
